body {
	padding: 0;
	margin: 0;
	
	font-family: "Ubuntu Mono", "Courier New", Monospace;
	font-weight: bold;
	background: #000;
	color: #fff;
	text-align: center;
}

canvas {
	margin: auto;
	margin-top: 24px;
	display: block;
}

#title {
	font-size: 36px;
	margin: auto;
	margin-top: 24px;
	display: block;
}

::selection {
	color: #fff;
	background: #00f;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #000;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner {
	background-color: #fff;
}