body {
	padding: 0;
	margin: 0;
	
	/*font-family: "Ubuntu Mono", "Courier New", Monospace;*/
	font-family: "Ubuntu", "Trebuchet MS", "Verdana", Sans-Serif;
	background: #333;
	background: url("graphics/bg-beach.jpg") no-repeat fixed center top;
	text-align: center;
}

div, canvas {
	margin: auto;
	display: block;
}

#page {
	color: #444;
	width: 1072px;
	height: 100%;
	margin-top: 12px;
	border: 1px solid rgba(63, 63, 63, 0.75);
	background: rgba(255, 255, 255, 0.75);
}

canvas {
	margin-top: 12px;
	margin-bottom: 24px;
	border: inherit;
}

#title {
	font-size: 36px;
	font-weight: 300;
	margin-top: 24px;
}

#footer {
	color: #000;
	margin-top: 12px;
	margin-bottom: 24px;
}

::selection {
	color: #000;
	background: #fff;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #000;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner {
	background-color: #bbb;
}